@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

*{
  padding: 0;
  margin: 0;
}

body{
  padding: 0;
  margin: 0;
  color: #5e6373;
}

.padding20{
  @include media-breakpoint-down(sm){
    padding-left: 20px;
  }
}

#wrapper{
  overflow: hidden;
}

#top{
  background-color: #f7f9fa;
  background: url(../images/banner-illust.svg) no-repeat center;
  background-size: cover;
  min-height: 800px;
  @include media-breakpoint-down(sm){
    min-height: 300px;
  }
  &::before{
    position: absolute;
    right: 0;
    width: 60%;
    height: 50px;
    background: url(../images/navigation.svg) no-repeat left center;
    content: '';
    @include media-breakpoint-down(sm){
      display: none;
    }
  }
  &::after{
    position: absolute;
    right: 0;
    top: 0;
    width: 8%;
    height: 50px;
    background: #fff;
    content: '';
    @media screen and (min-width:1440px) {
      width: 16%;
    }
    @include media-breakpoint-down(sm){
      display: none;
    }
  }
  .logo{
    background: #fff;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 32px;
    a{
      color: #5e6373;
    }
  }
  .menus{
    padding: 10px 0;
    ul{
      padding: 0;
      li{
        list-style: none;
        font-size: 14px;
        a{
          color: #5e6373;
          text-decoration: none;
        }
      }
    }
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#who-we-are{
  background-color: #f7f9fa;
  .img-c{
    top: -30px;
    left: -15px;
  }
  .img-c2{
    top: 50%;
    right: -15px;
  }
  .column{
    .title{
      font-weight: bold;
    }
    .frame{
      &::before{
        position: absolute;
        background: url(../images/shape.svg) no-repeat;
        content: '';
        left: -170px;
        width: 50%;
        height: 100%;
        top: -45px;  
      }
    }
    .content{
      .btn-collabs{
        a{
          background: url(../images/btn-collab.svg) no-repeat;
          background-size: 100%;
          color: #fff;
          flex-direction: column;
          text-decoration: none;
          @include media-breakpoint-down(sm){
            height: 80px;
            border-radius: 10px;
            background-size: cover;
          }
          span{
            font-size: 32px;
            font-weight: 600;
            @include media-breakpoint-down(sm){
              font-size: 21px;
            }
          }
          @include media-breakpoint-up(sm){
            height: 160px;
          }
        }
      }
    }
  }  
}

#what-we-do{
  background-color: #f7f9fa;
  padding-bottom: 60px;
  @include media-breakpoint-down(sm){
    padding-bottom: 0;
  }
  .column-left{
    top: 0;
    left: 0;
  }
  .img-right{
    top: 0;
    right: 0;
  }
  .content{
    position: relative;
    &::before{
      position: absolute;
      top: -60px;
      background: url(../images/cable.svg) no-repeat center;
      content: '';
      height: 150%;
      width: 100%;
      background-size: cover;
      left: 0;
      right: 0;
      margin: auto;
      @include media-breakpoint-down(sm){
        background-size: 100%;
        background-position: bottom;
        background-color: #fff;
        height: 120%;
      }
    }
    .block-wrapper{
      .block{
        h2{
          font-weight: bold;
        }
      }
    }
  }
}

#volunteers{
  background: url(../images/bg-volunter.svg) no-repeat;
  background-size: cover;
  color: #fff;
  @include media-breakpoint-up(sm){
    min-height: 700px;
  }
  .buble-wrapper{
    .column-buble{
      min-height: 700px;
      .buble{
        // animation-iteration-count:infinite;
        img{
          width: 150px;
          height: 150px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .img-1{
        top:8%;
        img{
          width: 120px;
          height: 120px;
        }
      }
      .img-2{
        left: 8%;
        bottom: 34%;
      }
      .img-3{
        left: 30%;
        top: 8%;
      }
      .img-4{
        left: 38%;
        bottom: 30%;
        img{
          width: 100px;
          height: 100px;
        }        
      }
      .img-5{
        left: 50%;
        top: 28%;
      }
      .img-6{
        left: 65%;
        top: 5%;
        img{
          width: 120px;
          height: 120px;
        }
      }
      .img-7{
        left: 70%;
        top: 50%;
        img{
          width: 120px;
          height: 120px;
        }
      }
      .img-8{
        left: 80%;
        top: 10%;
      }
      .img-9{
        right: -2%;
        top: 40%;
        img{
          width: 120px;
          height: 120px;
        }  
      }
    }
    .button-wrapper{
      bottom: 50px;
      left: 0;
      right: 0;
      margin: auto;
      a{
        background-color: #fff;
        border-radius: 8px;
        color: #5e6373;
        text-decoration: none;
        font-weight: 600;
        padding: 10px 20px;
      }
    }
  }
}

#about{
  background: url(../images/bg-about.svg) no-repeat center;
  position: relative;
  min-height: 800px;
  background-size: cover;
  .title{
    font-weight: bold;
  }
  .card-column{
    .card{
      border:none;
      border-radius: 10px;    
      box-shadow: 0px 5px 25px -5px rgba(0, 0, 0, 0.68);
      overflow: hidden;  
      .name{
        font-weight: 700;
        font-size: 18px;
      }
      .desc{
        font-size: 15px;
        line-height: 30px;
      }
    }
  }
}

#donate{
  background:url(../images/bg-item.svg) no-repeat;
  position: relative;
  background-size: cover;
  @include media-breakpoint-down(sm){
    background-position: center;
  }
  .donate-wrapper{
    .btn{
      margin-top: -50px;
      background: url(../images/donate.svg) no-repeat center;
      color: #fff;
      background-size: cover;
      padding: 18px 0;
      @include media-breakpoint-down(sm){
        width: 100% !important;
      }
      h1{
        @include media-breakpoint-down(sm){
          font-size: 21px;
          margin-bottom: 0;
        }
      }
      p{
        margin-bottom: 0;
      }
    }
  }
  .donate-column{
    height: 500px;
    color: #fff;
    .headline{
      font-size: 50px;
      font-weight: 700;
      @include media-breakpoint-down(sm){
        line-height: normal;
        padding-left: 20px;
      }
    }
    .search{
      @include media-breakpoint-down(sm){
        width: 100% !important;
        margin: 0 !important;
      }
      form{
        input{
          padding: 20px;
          border-radius: 20px;      
          border: none;
        }
        button{
          background: #f381b1;
          border: none;
          box-shadow: none;
          color: #fff;
          padding: 10px 35px;
          border-radius: 20px;
        }
      }
    }
  }
  .footer-menu{
    color: rgba(255, 255, 255, 0.73);
    .bottom-wrapper{
      @include media-breakpoint-down(sm){
        flex-direction: column !important;
        align-items: center !important;
      }
    }
    .menus{
      @include media-breakpoint-down(sm){
        margin-top: 5px;
      }
      ul{
        padding: 0;
        margin: 0;
        li{
          list-style: none;
          display: inline-block;
          margin-right: 20px;
          &:last-child{
            margin-right: 0;
          }
          @include media-breakpoint-down(sm){
            font-size: 12px;
            margin-right: 4px;
          }
          a{
            color: rgba(255, 255, 255, 0.73);
            text-decoration: none;
            &:hover{
              color: #fff;
            }
          }
        }
      }
    }
  }
}